body {
    font-family: Arial, sans-serif;
    background-color: lightblue;
}
h2 {
    text-align: center;
}
form {
    width: 350px;
    margin: auto;
    background-color: lightpink;
    padding: 20px;
    border-radius: 5px;
}
input {
    width: 100%;
    padding: 6px;
    margin-top: 5px;
}
input[type="submit"],
input[type="reset"] {
    width: 48%;
    margin-top: 10px;
}
